@using OzricEngine.Nodes
@using OzricUI.Model
@using OzricEngine.ext
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Core.Models.Base
@using OzricEngine
@using OzricEngine.Values
@using _Imports = OzricUI._Imports
@using ValueType = OzricEngine.Values.ValueType
@using Edge = OzricEngine.Nodes.Edge
@using System.Reflection
@implements IDisposable

<div class="diagram-container">
    <CascadingValue Value="diagram">
        <DiagramCanvas></DiagramCanvas>
    </CascadingValue>
</div>

@code {

    [Parameter]
    public Graph Graph { get; set; }

    [Parameter]
    public GraphLayout GraphLayout { get; set; }

    [Parameter]
    public GraphEditState GraphEditState { get; set; }

    public Diagram diagram { get; private set; }

    private bool IsChanged => !IsNotChanged;
    private bool IsNotChanged => GetHistory().IsAtCheckpoint();
    private bool CanUndo => GraphEditState.IsEditing && GetHistory().CanUndo();
    private bool CanRedo => GraphEditState.IsEditing && GetHistory().CanRedo();

    private EditHistory? history;
    private EditHistory GetHistory() => history!;

    private readonly Mapping<Node, GraphNodeModel> nodeMappings = new();
    private readonly Mapping<Edge, LinkModel> edgeMappings = new();
    private readonly Mapping<Zone, ZoneModel> zoneMappings = new();

    protected override void OnInitialized()
    {
        GraphEditState.OnChanged += OnGraphEditStateChanged;
        GraphEditState.OnDoCommand += DoCommand;
        GraphEditState.OnDoAction += DoAction;
        GraphEditState.OnEntityRefresh += DoEntityRefresh;
        GraphEditState.OnPinChanged += DoPinChanged;
        
        var options = new DiagramOptions
        {
//            DeleteKey = "Delete", // What key deletes the selected nodes/links
            DeleteKey = "",
            DefaultNodeComponent = null, // Default component for nodes
            AllowMultiSelection = true, // Whether to allow multi selection using CTRL
            Links = new DiagramLinkOptions
            {
            },
            Zoom = new DiagramZoomOptions
            {
                Minimum = 0.5, // Minimum zoom value
                Inverse = false, // Whether to inverse the direction of the zoom when using the wheel
            }
        };
        
        diagram = new Diagram(options);
        
        foreach (var modelType in GraphNodeModel.GetDerivatives())
        {
            diagram.RegisterModelComponent(modelType, typeof(GraphNodeComponent));
        }
        
        diagram.SelectionChanged += OnSelectionChanged;
        // diagram.Nodes.Removed += OnNodeRemoved;
        diagram.Links.Added += OnDiagramLinkAdded;
        diagram.KeyDown += GraphEditState.KeyDown;

        PopulateDiagram();

        history = new EditHistory(this);
        UpdateLockedState();
    }

    private void DoCommand(GraphEditState.Command command)
    {
        switch (command)
        {
            case GraphEditState.Command.Undo:
                GetHistory().UndoLastAction();
                OnHistoryChanged();
                break;
                
            case GraphEditState.Command.Redo:
                GetHistory().RedoLastAction();
                OnHistoryChanged();
                break;
                
            case GraphEditState.Command.SetCheckpoint:
                GetHistory().SetCheckpoint();
                OnHistoryChanged();
                break;
                
            case GraphEditState.Command.Delete:
                DoDelete();
                break;
                
            default:
                throw new ArgumentOutOfRangeException(nameof(command), command, null);
        }
    }

    /*
    /// Callback for when the diagram removes a node (user hits delete key)
    
    private void OnNodeRemoved(NodeModel nodeModel)
    {
        var node = nodeMappings.GetGraph((GraphNodeModel) nodeModel);
        GetHistory().Do(new GraphEditAction.RemoveNode(node));
        OnHistoryChanged();
        OnSelectionChanged(null);
    }
    */

    public void Dispose()
    {
        GraphEditState.OnPinChanged -= DoPinChanged;
        GraphEditState.OnEntityRefresh -= DoEntityRefresh;
        GraphEditState.OnChanged -= OnGraphEditStateChanged;
    }

    private void OnGraphEditStateChanged()
    {
        StateHasChanged();
        UpdateLockedState();
    }

    private void UpdateLockedState()
    {
        SetLocked(GraphEditState.IsLocked());
    }
    
    private void SetLocked(bool locked)
    {
        foreach (var node in diagram.Nodes)
        {
            node.Locked = locked;

            foreach (var port in node.Ports)
                port.Locked = locked;

            node.RefreshAll();
        }

        foreach (var link in diagram.Links)
            link.Locked = locked;
    }

    private void OnDoUndo()
    {
        GetHistory().UndoLastAction();
        OnHistoryChanged();
    }

    private void OnDoRedo()
    {
        GetHistory().RedoLastAction();
        OnHistoryChanged();
    }

    private void OnDoSetCheckpoint()
    {
        GetHistory().SetCheckpoint();
        OnHistoryChanged();
    }
    
    private void DoAction(GraphEditAction editAction)
    {
        GetHistory().Do(editAction);
        OnHistoryChanged();
    }
    
    private void DoEntityRefresh(string entityID)
    {
        var node = Graph.nodes.Values.FirstOrDefault(n => n is EntityNode en && en.entityID == entityID);
        if (node == null)
            return;

        var dnode = nodeMappings.GetDiagram(node);
        dnode.Refresh();
    }
    
    private void DoPinChanged(string nodeID, string pinName, Value value)
    {
        var node = Graph.nodes.Get(nodeID);
        if (node == null)
            return;

        node.SetPinValue(pinName, value);
        var dnode = nodeMappings.GetDiagram(node);
        var pinID = $"{node.id}.{pinName}";
        dnode.GetPort(pinID).RefreshAll();
    }

    private void PopulateDiagram()
    {
        nodeMappings.Clear();
        edgeMappings.Clear();
        zoneMappings.Clear();

        double minX = 0, minY = 0;
        int x = 0, y = 0, w = 160, h = 120, cols = 6; 
        
        foreach (var node in Graph.nodes.Values)
        {
            var position = GraphLayout.nodeLayout.GetOrSet(node.id, () =>
            {
                var point = new LayoutPoint(x * w, y * h);
                if (++x == cols)
                {
                    x = 0;
                    ++y;
                }
                return point;
            }).ToPoint();

            minX = Math.Min(minX, position.X);
            minY = Math.Min(minY, position.Y);

            AddNode(node, position);
        }

        diagram.SetPan(-(minX - 10), -(minY - 10));

        foreach (var edgeKV in Graph.edges.ToList())
        {
            var edge = edgeKV.Value;

            if (!nodeMappings.HasGraphID(edge.from.nodeID) || !nodeMappings.HasGraphID(edge.to.nodeID))
            {
                Graph.edges.Remove(edgeKV.Key);
                continue;
            }
            
            var fromD = nodeMappings.GetDiagram(edge.from.nodeID);
            var fromPortID = $"{edge.from.nodeID}.{edge.from.outputName}"; 
            
            var toD = nodeMappings.GetDiagram(edge.to.nodeID);
            var toPortID = $"{edge.to.nodeID}.{edge.to.inputName}";

            var link = new LinkModel(fromD.GetPort(fromPortID), toD.GetPort(toPortID))
            {
                Locked = !GraphEditState.IsEditing
            };

            edgeMappings.Add(edge, link);
            diagram.Links.Add(link);
        }

        foreach (var zone in GraphLayout.zones.Values)
        {
            var group = AddZone(zone);

            foreach (var nodeID in zone.nodeIDs)
            {
                group.AddChild(nodeMappings.GetDiagram(nodeID));
            }
        }
    }
    
    /// Take an existing node in the Graph and add it as the equivalent model object in the Diagram.
    /// The caller is expected to have added it to the DiagramLayout

    public void AddNode(Node node, Point position)
    {
        var diagramNode = CreateModel(node, position);

        nodeMappings.Add(node, diagramNode);
        diagram.Nodes.Add(diagramNode);

        /*
        var expectedPortCount = node.inputs.Count + node.outputs.Count;
        if (diagramNode.Ports.Count != expectedPortCount)
        {
            throw new Exception($"Graph Node {diagramNode} has {diagramNode.Ports.Count} ports but expected {expectedPortCount}");
        }*/

        int iy = 0, oy = 0, dy = 20;
        
        for (int i = 0; i < diagramNode.Ports.Count; i++)
        {
            var port = diagramNode.Ports[i];
            var iport = (IPort) port;
            port.Position = position.Add(0f, iport.IsInput ? iy : oy);
            if (iport.IsInput)
                iy += dy;
            else
                oy += dy;
        }
    }

    /// Remove the model object that represents the given node in the Graph from the Diagram

    public void RemoveNode(Node node)
    {
        var diagramNode = nodeMappings.Remove(node);
        if (diagram.Nodes.Contains(diagramNode))
            diagram.Nodes.Remove(diagramNode);
        Graph.RemoveNode(node);
    }

    /// Take an existing edge in the Graph and add it as the equivalent model object in the Diagram.

    public void AddEdge(Edge edge)
    {
        var fromNodeModel = nodeMappings.GetDiagram(edge.from.nodeID);
        var toNodeModel = nodeMappings.GetDiagram(edge.to.nodeID);
        var fromPort = fromNodeModel.GetPort(edge.from.id);
        var toPort = toNodeModel.GetPort(edge.to.id);
        
        var link = new LinkModel(fromPort, toPort);

        edgeMappings.Add(edge, link);
        diagram.Links.Add(link);
    }
    
    /// Remove the model object that represents the given edge from the Diagram 
    
    public void RemoveEdge(Edge edge)
    {
        var link = edgeMappings.Remove(edge);
        
        if (diagram.Links.Contains(link))
            diagram.Links.Remove(link);

        Graph.RemoveEdge(edge);
    }

    private GraphNodeModel CreateModel(Node node, Point? point = null)
    {
        var model = CreateModelForNode(node, point);
        model.Moving += OnNodeModelMoving;
        model.Locked = !GraphEditState.IsEditing; 
        return model;
    }

    private GraphNodeModel CreateModelForNode(Node node, Point? point)
    {
        switch (node)
        {
            // Special case for constants, as we want a specific UI for each type
        
            case Constant c:
            {
                switch (c.value.ValueType)
                {
                    case ValueType.Color:
                        return new ConstantColorModel(c, point);

                    case ValueType.Number:
                        return new ConstantNumberModel(c, point);

                    case ValueType.Binary:
                    case ValueType.Mode:
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            }

            default:
            {
                var constructors = GraphNodeModel.GetDerivatives().SelectMany(t => t.GetConstructors());
                var applicable = constructors.First(c =>
                {
                    var p = c.GetParameters();
                    return (p.Length == 2 && p[0].ParameterType == node.GetType() && p[1].ParameterType == typeof(Point));
                });
                return (GraphNodeModel) applicable.Invoke(new object?[] {node, point});
            }
        }

        throw new Exception($"Unhandled type {node.GetType()}");
    }

    private void OnNodeModelMoving(NodeModel nodeModel)
    {
        var nodeID = nodeMappings.GetGraph(nodeModel.Id).id;
        if (nodeID == null)
            throw new Exception("Node not found");

        var from = GraphLayout.nodeLayout[nodeID].ToPoint();
        var to = nodeModel.Position;
        
        GraphLayout.nodeLayout[nodeID] = LayoutPoint.FromPoint(to);
        GetHistory().Node_Moved(nodeModel, from, to);

        OnHistoryChanged();
    }

    private void OnHistoryChanged()
    {
        GraphEditState.SetHistoryState(GetHistory());
    }

    public List<string> CreateNodes(List<Func<Node>> nodeCreators)
    {
        var pos = new Point(20, 20);
        var nodeIDs = new List<string>(nodeCreators.Count);
                
        foreach (var nodeCreator in nodeCreators)
        {
            var node = nodeCreator();
            Graph.AddNode(node);
            GraphLayout.nodeLayout[node.id] = LayoutPoint.FromPoint(pos);
            AddNode(node, pos);
            pos = pos.Add(20, 0);
            nodeIDs.Add(node.id);
        }

        return nodeIDs;
    }

    private void OnSelectionChanged(SelectableModel? obj)
    {
        var selected = diagram
            .GetSelectedModels()
            .Select(m => new KeyValuePair<SelectableModel,IGraphObject>(m, GetGraphObject(m)))
            .ToList();
        
        GraphEditState.SetSelected(selected);
    }

    public void Select(params Node[] nodes)
    {
        if (nodes.Length == 0)
        {
            diagram.UnselectAll();
            return;
        }

        for (int i = 0; i < nodes.Length; i++)
            diagram.SelectModel(nodeMappings.GetDiagram(nodes[i]), i == 0);
    }

    public Point GetPosition(Node node)
    {
        return GraphLayout.nodeLayout[node.id].ToPoint();
    }

    private IGraphObject GetGraphObject(SelectableModel selectableModel)
    {
        if (selectableModel is GraphNodeModel gnm)
            return nodeMappings.GetGraph(gnm);
                
        if (selectableModel is LinkModel lm)
            return edgeMappings.GetGraph(lm);
                
        if (selectableModel is ZoneModel zm)
            return zoneMappings.GetGraph(zm);
                
        throw new InvalidOperationException();
    }

    public void RenameNode(string originalID, string newID)
    {
        var changedEdges = Graph.edges.Values.Where(e => e.from.nodeID == originalID || e.to.nodeID == originalID).ToList();
        foreach (var changedEdge in changedEdges)
        {
            var edge = changedEdge.Reroute(originalID, newID);
            Graph.edges.Remove(changedEdge.id);
            Graph.edges.Add(edge.id, edge);
        }
        
        //  We keep graph nodes keyed by ID in three places:
        
        //  1. The graph
        //  2. The map between graph nodes and diagram nodes
        //  3. The stored data of diagram nodes (currently just positions)

        var node = Graph.nodes[originalID];
        nodeMappings.Remap(node, newID);
        node.id = newID;
        Graph.nodes.Remove(originalID);
        Graph.nodes[newID] = node;

        GraphLayout.nodeLayout[newID] = GraphLayout.nodeLayout[originalID];
        GraphLayout.nodeLayout.Remove(originalID);

        Reload(node);
    }

    /// Tell a Diagram model object to update itself and load its state from the Graph model.
    
    public void Reload(Node node)
    {
        var nodeModel = nodeMappings.GetDiagram(node.id);
        nodeModel.Load();
        nodeModel.Refresh();
    }

    ///  Callback from the Diagram
    
    private void OnDiagramLinkAdded(BaseLinkModel link)
    {
        if (link.TargetNode is null)
        {
            //  An empty link being dragged (listen for its connection)
            
            link.TargetPortChanged += OnDiagramLinkConnected;
        }
        
    //else
    //In case it was connected instantaneously (via code)
       //     RegisterUndoHistoryAction(new GraphAction.AddLink(link)); 
    }

    private void OnDiagramLinkConnected(BaseLinkModel link, PortModel? inPort, PortModel? outPort)
    {
        link.SourcePortChanged -= OnDiagramLinkConnected;

        var fromNodeModel = (GraphNodeModel)link.SourceNode;
        var toNodeModel = (GraphNodeModel)link.TargetNode!;

        var createPin = link.TargetPort is PortInputAdd;

        var fromNode = nodeMappings.GetGraph(fromNodeModel);
        var toNode = nodeMappings.GetGraph(toNodeModel);

        var fromPin = fromNodeModel.GetPin(link.SourcePort!);

        if (!createPin)
        {
            var toPin = toNodeModel.GetPin(link.TargetPort!);
            
    // Check the user hasn't just duplicated an existing link

            var from = new OutputSelector(fromNode.id, fromPin.name);
            var to = new InputSelector(toNode.id, toPin.name);
            var edge = new Edge(from, to);

            if (Graph.edges.ContainsKey(edge.id))
                return;

    //  The diagram link has been added by the library, but we need to remove it and then add it 
    //  back to both the diagram and the model in order for the undo/redo logic to be simple.

            diagram.Links.Remove(link);

            DoAction(new GraphEditAction.AddEdge(edge));
        }
        else
        {
            //  We'll need to create a pin/port as well as the edge/link 
            
            diagram.Links.Remove(link);

            var toVarInput = toNode as VariableInputs ?? throw new Exception("Expect variable inputs");
            var newPinName = toVarInput.NextPinName();
            
            var from = new OutputSelector(fromNode.id, fromPin.name);
            var to = new InputSelector(toNode.id, newPinName);
            var edge = new Edge(from, to);

            var addPort = new GraphEditAction.AddInput(toVarInput, newPinName);
            var addEdge = new GraphEditAction.AddEdge(edge);

            DoAction(new GraphEditAction.EditActions(new List<GraphEditAction>{ addPort, addEdge }));
        }
    }

    private void DoDelete()
    {
        var selectedItems = diagram.GetSelectedModels().ToList();
        if (selectedItems.Count > 0)
        {
            var actions = GraphEditAction.Build(GetDeleteActions(selectedItems));
            GraphEditState.DoAction(actions);

            OnHistoryChanged();
        }
    }

    private IEnumerable<GraphEditAction> GetDeleteActions(List<SelectableModel> selectableModels)
    {
        foreach (var selected in selectableModels)
        {
            switch (selected)
            {
                case GraphNodeModel gnm:
                {
                    foreach (var link in gnm.Ports.SelectMany(p => p.Links))
                    {
                        if (selectableModels.Contains(link))
                            continue;
                        
                        foreach (var deleteAction in GetDeleteActions((LinkModel) link))
                            yield return deleteAction;
                    }

                    yield return new GraphEditAction.RemoveNode(nodeMappings.GetGraph(gnm));
                    break;
                }

                case LinkModel lm:
                {
                    foreach (var deleteAction in GetDeleteActions(lm))
                        yield return deleteAction;
                    
                    break;
                }

                default:
                    throw new ArgumentOutOfRangeException();
            }
        }
    }

    private IEnumerable<GraphEditAction> GetDeleteActions(LinkModel lm)
    {
        var edge = edgeMappings.GetGraph(lm);
        if (lm.TargetNode is VariableInputsModel vim)
        {
            var inputNode = (VariableInputs)vim.node;
            yield return new GraphEditAction.RemoveInput(inputNode, edge.to.inputName);
            yield return new GraphEditAction.RemoveEdge(edge);
            yield break;
        }

        yield return new GraphEditAction.RemoveEdge(edge);
    }

    public void AddNodeInput(VariableInputs variableInputs, string inputName)
    {
        var input = variableInputs.AddInput(inputName);
        var model = (VariableInputsModel) nodeMappings.GetDiagram(variableInputs);
        model.AddVariableInput(input);
    }

    public void RemoveNodeInput(VariableInputs variableInputs, string inputName)
    {
        var input = variableInputs.RemoveInput(inputName);
        var model = (VariableInputsModel) nodeMappings.GetDiagram(variableInputs);
        model.RemoveInput(input);
    }
    
    /// Add an existing Zone to the diagram

    public ZoneModel AddZone(Zone zone)
    {
        var group = new ZoneModel(zone.id);
        diagram.AddGroup(group);
        zoneMappings.Add(zone, group);
        return group;
    }

    public Zone GetZone(string zoneId)
    {
        return zoneMappings.GetGraph(zoneId);
    }

    public void RemoveZone(Zone zone)
    {
        var group = zoneMappings.Remove(zone);
        diagram.RemoveGroup(group);
    }

    public GraphNodeModel GetDiagramNode(string nodeID)
    {
        return nodeMappings.GetDiagram(Graph.nodes[nodeID]);
    }

    public ZoneModel GetDiagramGroup(string zoneID)
    {
        return zoneMappings.GetDiagram(zoneID);
    }
}