@using Blazor.Diagrams.Components.Groups

<GroupContainer Group="Group" Class="zone">
    <span class="title">Title @Group.Title</span>

    <GroupNodes />

</GroupContainer>

@code {
    [Parameter]
    public ZoneModel Group { get; set; }
}

<style>

.title {
    position: absolute;
    left: 10px;
    top: 6px;
}

.zone {
    border: solid 2px;
    border-radius: 15px;
    background: #cacaca;
    opacity: 75%;
}

</style>