@using Blazor.Diagrams
@using OzricEngine.Nodes
@using Ozric.Dashboard.Model
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Core.Models.Base
@using Blazor.Diagrams.Options
@using Ozric.Dashboard.Diagram
@using Ozric.Engine.Extensions
@using Ozric.Engine.Graph
@using Ozric.Engine.Nodes.Entities
@using OzricEngine
@using OzricEngine.Values
@using OzricService
@using ValueType = Ozric.Engine.Values.ValueType
@using Edge = OzricEngine.Nodes.Edge
@implements IDisposable
@inject IOzricService EngineService

@if (Diagram != null)
{
    <div class="diagram-container">
        <CascadingValue Value="Diagram">
            <DiagramCanvas></DiagramCanvas>
        </CascadingValue>
    </div>
}

@code {

    [Parameter]
    public string AreaId { get; set; }

    [Parameter]
    public Graph Graph { get; set; }

    [Parameter]
    public GraphLayout GraphLayout { get; set; }

    [Parameter]
    public GraphEditState GraphEditState { get; set; }

    public BlazorDiagram Diagram { get; set; }

    private bool IsChanged => !IsNotChanged;
    private bool IsNotChanged => GetHistory().IsAtCheckpoint();
    private bool CanUndo => GraphEditState.IsEditing && GetHistory().CanUndo();
    private bool CanRedo => GraphEditState.IsEditing && GetHistory().CanRedo();

    private EditHistory? _history;
    private EditHistory GetHistory() => _history!;

    private readonly Mapping<Node, GraphNodeModel> nodeMappings = new();
    private readonly Mapping<Edge, LinkModel> edgeMappings = new();
    
    private string _areaId;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        GraphEditState.OnChanged += OnGraphEditStateChanged;
        GraphEditState.OnDoCommand += DoCommand;
        GraphEditState.OnDoAction += DoAction;
        GraphEditState.OnEntityRefresh += DoEntityRefresh;
        GraphEditState.OnPinChanged += DoPinChanged;
        GraphEditState.OnAlertChanged += DoAlertChanged;
        
        var options = new BlazorDiagramOptions
        {
//            DeleteKey = "Delete", // What key deletes the selected nodes/links
/* 9.0
            DeleteKey = "",
            DefaultNodeComponent = null, // Default component for nodes
            */


            AllowMultiSelection = true, // Whether to allow multi selection using CTRL
        };
        options.AllowPanning = false;
        options.Zoom.Enabled = false;
        
        Diagram = new BlazorDiagram(options);
        
        foreach (var modelType in GraphNodeModel.GetDerivatives())
            Diagram.RegisterComponent(modelType, typeof(GraphNodeComponent));

        Diagram.SelectionChanged += OnSelectionChanged;
        /* 9.0
        diagram.Links.Added += OnDiagramLinkAdded;
        diagram.KeyDown += GraphEditState.KeyDown;
        */

        _history = new EditHistory(this);
        UpdateLockedState();

        Diagram.AddConstraintBehaviour();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        
        if (string.IsNullOrEmpty(AreaId))
            return;

        if (Diagram == null)
            throw new InvalidOperationException("Diagram is not initialized");

        if (_areaId == AreaId)
            return;

        if (Diagram.Container != null)
        {
            PopulateDiagram(AreaId);
        }
        else
        {
            Diagram.ContainerChanged += () =>
            {
                PopulateDiagram(AreaId);
            };
        }
    }

    private void DoCommand(GraphEditState.Command command)
    {
        switch (command)
        {
            case GraphEditState.Command.Undo:
                GetHistory().UndoLastAction();
                OnHistoryChanged();
                break;
                
            case GraphEditState.Command.Redo:
                GetHistory().RedoLastAction();
                OnHistoryChanged();
                break;
                
            case GraphEditState.Command.SetCheckpoint:
                GetHistory().SetCheckpoint();
                OnHistoryChanged();
                break;
                
            case GraphEditState.Command.Delete:
                DoDelete();
                break;
                
            case GraphEditState.Command.Rebuild:
                PopulateDiagram(AreaId);
                break;
                
            default:
                throw new ArgumentOutOfRangeException(nameof(command), command, null);
        }
    }

    /* 9.0
    /// Callback for when the diagram removes a node (user hits delete key)
    
    private void OnNodeRemoved(NodeModel nodeModel)
    {
        var node = nodeMappings.GetGraph((GraphNodeModel) nodeModel);
        GetHistory().Do(new GraphEditAction.RemoveNode(node));
        OnHistoryChanged();
        OnSelectionChanged(null);
    }
    */

    public void Dispose()
    {
        GraphEditState.OnPinChanged -= DoPinChanged;
        GraphEditState.OnEntityRefresh -= DoEntityRefresh;
        GraphEditState.OnChanged -= OnGraphEditStateChanged;
    }

    private void OnGraphEditStateChanged()
    {
        StateHasChanged();
        UpdateLockedState();
    }

    private void UpdateLockedState()
    {
        SetLocked(GraphEditState.IsLocked());
    }
    
    private void SetLocked(bool locked)
    {
        foreach (var node in Diagram.Nodes)
        {
            node.Locked = locked;

            foreach (var port in node.Ports)
                port.Locked = locked;

            node.RefreshAll();
        }

        foreach (var group in Diagram.Groups)
        {
            group.Locked = locked;

            group.Refresh();
        }

        foreach (var link in Diagram.Links)
            link.Locked = locked;
    }

    private void OnDoUndo()
    {
        GetHistory().UndoLastAction();
        OnHistoryChanged();
    }

    private void OnDoRedo()
    {
        GetHistory().RedoLastAction();
        OnHistoryChanged();
    }

    private void OnDoSetCheckpoint()
    {
        GetHistory().SetCheckpoint();
        OnHistoryChanged();
    }
    
    private void DoAction(GraphEditAction editAction)
    {
        GetHistory().Do(editAction);
        OnHistoryChanged();
    }
    
    private void DoEntityRefresh(string entityID)
    {
        var node = Graph.nodes.Values.FirstOrDefault(n => n is EntityNode en && en.entityID == entityID);
        if (node == null)
            return;

        var dnode = nodeMappings.GetDiagram(node);
        dnode.Refresh();
    }
    
    private void DoPinChanged(string nodeID, string pinName, Value value)
    {
        var node = Graph.nodes.Get(nodeID);
        if (node == null)
            return;

        node.SetPinValue(pinName, value);
        var dnode = nodeMappings.GetDiagram(node);
        var pinID = $"{node.id}.{pinName}";
        dnode.GetPort(pinID).RefreshAll();
    }

    private void DoAlertChanged(string nodeID)
    {
        var node = Graph.nodes.Get(nodeID);
        if (node == null)
            return;

        var dnode = nodeMappings.GetDiagram(node);
        dnode.UpdateAlerts();
    }

    private void PopulateDiagram(string areaId)
    {
        if (_areaId == areaId)
            return;
        
        _areaId = areaId;
        
        Diagram.Nodes.Clear();
        
        nodeMappings.Clear();
        edgeMappings.Clear();
        
        double minX = 0, minY = 0;
        int x = 0, y = 0, w = 160, h = 120, cols = 6;

        foreach (var node in Graph.nodes.Values.Where(node => IsActiveInArea(node)))
        {
            var point = GraphLayout.GetNodePosition(AreaId, node.id);
            if (point == null)
            {
                point = new LayoutPoint(x * w, y * h);
                if (++x == cols)
                {
                    x = 0;
                    ++y;
                }
                GraphLayout.SetNodePosition(AreaId, node.id, point);
            }
            
            var position = point.ToPoint();

            minX = Math.Min(minX, position.X);
            minY = Math.Min(minY, position.Y);

            AddNode(node, position);
        }

        Diagram.SetPan(-(minX - 10), -(minY - 10));

        foreach (var edgeKV in Graph.edges.ToList())
        {
            var edge = edgeKV.Value;

            if (!nodeMappings.HasGraphID(edge.from.nodeID) || !nodeMappings.HasGraphID(edge.to.nodeID))
            {
                // Graph.edges.Remove(edgeKV.Key);
                continue;
            }
            
            var fromD = nodeMappings.GetDiagram(edge.from.nodeID);
            var fromPortID = $"{edge.from.nodeID}.{edge.from.outputName}"; 
            
            var toD = nodeMappings.GetDiagram(edge.to.nodeID);
            var toPortID = $"{edge.to.nodeID}.{edge.to.inputName}";

            var link = new LinkModel(fromD.GetPort(fromPortID), toD.GetPort(toPortID))
            {
                Locked = !GraphEditState.IsEditing
            };

            edgeMappings.Add(edge, link);
            Diagram.Links.Add(link);
        }
    }

    private bool IsActiveInArea(Node node)
    {
        if (node.area_id == AreaId)
            return true;

        if (node.area_id != IHome.GlobalAreaId)
            return false;
        
        var outputs = Graph.GetOutputs(node);

        return outputs.Any(n => n.area_id == AreaId);
    }

    /// Take an existing node in the Graph and add it as the equivalent model object in the Diagram.
    /// The caller is expected to have added it to the DiagramLayout

    public GraphNodeModel AddNode(Node node, Point position)
    {
        var diagramNode = CreateModel(node, position);

        nodeMappings.Add(node, diagramNode);
        Diagram.Nodes.Add(diagramNode);

        var (x, y) = ConstraintBehavior.ApplyConstraints(Diagram, diagramNode, position.X, position.Y);
        diagramNode.SetPosition(x, y);

        /*
        var expectedPortCount = node.inputs.Count + node.outputs.Count;
        if (diagramNode.Ports.Count != expectedPortCount)
        {
            throw new Exception($"Graph Node {diagramNode} has {diagramNode.Ports.Count} ports but expected {expectedPortCount}");
        }*/

        int iy = 0, oy = 0, dy = 20;
        
        for (int i = 0; i < diagramNode.Ports.Count; i++)
        {
            var port = diagramNode.Ports[i];
            var iport = (IPort) port;
            port.Position = position.Add(0f, iport.IsInput ? iy : oy);
            if (iport.IsInput)
                iy += dy;
            else
                oy += dy;
        }

        return diagramNode;
    }
    
    /// Remove the model object that represents the given node in the Graph from the Diagram

    public void RemoveNode(Node node)
    {
        var diagramNode = nodeMappings.Remove(node);
        if (Diagram.Nodes.Contains(diagramNode))
            Diagram.Nodes.Remove(diagramNode);
        Graph.RemoveNode(node);
    }

    /// Take an existing edge in the Graph and add it as the equivalent model object in the Diagram.

    public void AddEdge(Edge edge)
    {
        var fromNodeModel = nodeMappings.GetDiagram(edge.from.nodeID);
        var toNodeModel = nodeMappings.GetDiagram(edge.to.nodeID);
        var fromPort = fromNodeModel.GetPort(edge.from.id);
        var toPort = toNodeModel.GetPort(edge.to.id);
        
        var link = new LinkModel(fromPort, toPort);

        edgeMappings.Add(edge, link);
        Diagram.Links.Add(link);
    }
    
    /// Remove the model object that represents the given edge from the Diagram 
    
    public void RemoveEdge(Edge edge)
    {
        var link = edgeMappings.Remove(edge);
        
        if (Diagram.Links.Contains(link))
            Diagram.Links.Remove(link);

        Graph.RemoveEdge(edge);
    }

    private GraphNodeModel CreateModel(Node node, Point? point = null)
    {
        var model = CreateModelForNode(node, point);
        model.Moving += OnNodeModelMoving;
        model.Locked = !GraphEditState.IsEditing; 
        return model;
    }

    private GraphNodeModel CreateModelForNode(Node node, Point? point)
    {
        switch (node)
        {
            // Special case for constants, as we want a specific UI for each type
        
            case Constant c:
            {
                switch (c.value.ValueType)
                {
                    case ValueType.Color:
                        return new ConstantColorModel(c, point);

                    case ValueType.Number:
                        return new ConstantNumberModel(c, point);

                    case ValueType.Binary:
                        return new ConstantBinaryModel(c, point);
                        
                    case ValueType.Mode:
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            }

            default:
            {
                var constructors = GraphNodeModel.GetDerivatives().SelectMany(t => t.GetConstructors());
                var applicable = constructors.First(c =>
                {
                    var p = c.GetParameters();
                    return (p.Length == 2 && p[0].ParameterType == node.GetType() && p[1].ParameterType == typeof(Point));
                });
                return (GraphNodeModel) applicable.Invoke([node, point]);
            }
        }
    }

    private void OnNodeModelMoving(NodeModel nodeModel)
    {
        GetNodeMove(nodeModel, out var from, out var to);
        GetHistory().Node_Moved(nodeModel, from, to);

        OnHistoryChanged();
    }

    private void GetNodeMove(NodeModel nodeModel, out Point from, out Point to)
    {
        var nodeID = nodeMappings.GetGraph(nodeModel.Id).id;
        if (nodeID == null)
            throw new Exception("Node not found");

        from = GraphLayout.GetNodePosition(AreaId, nodeID)!.ToPoint();
        to = nodeModel.Position;
        GraphLayout.SetNodePosition(AreaId, nodeID, LayoutPoint.FromPoint(to));
    }

    private void OnHistoryChanged()
    {
        GraphEditState.SetHistoryState(GetHistory());
    }

    public List<string> CreateNodes(List<Func<Node>> nodeCreators)
    {
        var pos = new Point(20, 20);
        var nodeIDs = new List<string>(nodeCreators.Count);
                
        foreach (var nodeCreator in nodeCreators)
        {
            var node = nodeCreator();
            Graph.AddNode(node);
            GraphLayout.SetNodePosition(AreaId, node.id, LayoutPoint.FromPoint(pos));
            AddNode(node, pos);
            pos = pos.Add(20, 0);
            nodeIDs.Add(node.id);
        }

        return nodeIDs;
    }

    private void OnSelectionChanged(SelectableModel? obj)
    {
        var selected = Diagram
            .GetSelectedModels()
            .Select(m => new KeyValuePair<SelectableModel,IGraphObject>(m, GetGraphObject(m)))
            .ToList();
        
        GraphEditState.SetSelected(selected);
    }

    public void Select(params Node[] nodes)
    {
        if (nodes.Length == 0)
        {
            Diagram.UnselectAll();
            return;
        }

        for (int i = 0; i < nodes.Length; i++)
            Diagram.SelectModel(nodeMappings.GetDiagram(nodes[i]), i == 0);
    }

    public Point GetPosition(Node node)
    {
        return GraphLayout.GetNodePosition(AreaId, node.id)!.ToPoint();
    }

    private IGraphObject GetGraphObject(SelectableModel selectableModel)
    {
        if (selectableModel is GraphNodeModel gnm)
            return nodeMappings.GetGraph(gnm);
                
        if (selectableModel is LinkModel lm)
            return edgeMappings.GetGraph(lm);
                
        throw new InvalidOperationException();
    }

    public void RenameNode(string originalID, string newID)
    {
        var changedEdges = Graph.edges.Values.Where(e => e.from.nodeID == originalID || e.to.nodeID == originalID).ToList();
        foreach (var changedEdge in changedEdges)
        {
            var edge = changedEdge.Reroute(originalID, newID);
            Graph.edges.Remove(changedEdge.id);
            Graph.edges.Add(edge.id, edge);
        }
        
        //  We keep graph nodes keyed by ID in three places:
        
        //  1. The graph
        //  2. The map between graph nodes and diagram nodes
        //  3. The stored data of diagram nodes (currently just positions)

        var node = Graph.nodes[originalID];
        nodeMappings.Remap(node, newID);
        node.id = newID;
        Graph.nodes.Remove(originalID);
        Graph.nodes[newID] = node;

        GraphLayout.RemapNodeID(originalID, newID);

        Reload(node);
    }

    /// Tell a Diagram model object to update itself and load its state from the Graph model.
    
    public void Reload(Node node)
    {
        var nodeModel = nodeMappings.GetDiagram(node.id);
        nodeModel.Load();
        nodeModel.Refresh();
    }

    ///  Callback from the Diagram
    
    private void OnDiagramLinkAdded(BaseLinkModel link)
    {
        /*
        if (link.TargetNode is null)
        {
            //  An empty link being dragged (listen for its connection)
            
            link.TargetPortChanged += OnDiagramLinkConnected;
        }
        */
        
    //else
    //In case it was connected instantaneously (via code)
       //     RegisterUndoHistoryAction(new GraphAction.AddLink(link)); 
    }

    private void OnDiagramLinkConnected(BaseLinkModel link, PortModel? inPort, PortModel? outPort)
    {
        /* 9.0
        link.SourcePortChanged -= OnDiagramLinkConnected;

        var fromNodeModel = (GraphNodeModel)link.SourceNode;
        var toNodeModel = (GraphNodeModel)link.TargetNode!;

        var createPin = link.TargetPort is PortInputAdd;

        var fromNode = nodeMappings.GetGraph(fromNodeModel);
        var toNode = nodeMappings.GetGraph(toNodeModel);

        var fromPin = fromNodeModel.GetPin(link.SourcePort!);

        if (!createPin)
        {
            var toPin = toNodeModel.GetPin(link.TargetPort!);
            
    // Check the user hasn't just duplicated an existing link

            var from = new OutputSelector(fromNode.id, fromPin.name);
            var to = new InputSelector(toNode.id, toPin.name);
            var edge = new Edge(from, to);

            if (Graph.edges.ContainsKey(edge.id))
                return;

    //  The diagram link has been added by the library, but we need to remove it and then add it 
    //  back to both the diagram and the model in order for the undo/redo logic to be simple.

            diagram.Links.Remove(link);

            DoAction(new GraphEditAction.AddEdge(edge));
        }
        else
        {
            //  We'll need to create a pin/port as well as the edge/link 
            
            diagram.Links.Remove(link);

            var toVarInput = toNode as VariableInputs ?? throw new Exception("Expect variable inputs");
            var newPinName = toVarInput.NextPinName();
            
            var from = new OutputSelector(fromNode.id, fromPin.name);
            var to = new InputSelector(toNode.id, newPinName);
            var edge = new Edge(from, to);

            var addPort = new GraphEditAction.AddInput(toVarInput, newPinName);
            var addEdge = new GraphEditAction.AddEdge(edge);

            DoAction(new GraphEditAction.EditActions(new List<GraphEditAction>{ addPort, addEdge }));
        }
        */
    }

    private void DoDelete()
    {
        var selectedItems = Diagram.GetSelectedModels().ToList();
        if (selectedItems.Count > 0)
        {
            var actions = GraphEditAction.Build(GetDeleteActions(selectedItems));
            GraphEditState.DoAction(actions);

            OnHistoryChanged();
        }
    }

    private IEnumerable<GraphEditAction> GetDeleteActions(List<SelectableModel> selectableModels)
    {
        HashSet<SelectableModel> deleting = new(); 
            
        foreach (var selected in selectableModels)
        {
            foreach (var action in GetDeleteActions(deleting, selected))
            {
                yield return action;
            }
        }
    }

    private IEnumerable<GraphEditAction> GetDeleteActions(HashSet<SelectableModel> deleting, SelectableModel selectableModel)
    {
        if (!deleting.Add(selectableModel))
            yield break;
        
        switch (selectableModel)
        {
            case GraphNodeModel gnm:
            {
                foreach (var link in gnm.Ports.SelectMany(p => p.Links))
                {
                    foreach (var deleteAction in GetDeleteActions(deleting, link))
                        yield return deleteAction;
                }

                yield return new GraphEditAction.RemoveNode(nodeMappings.GetGraph(gnm));
                break;
            }

            case LinkModel lm:
            {
                foreach (var deleteAction in GetDeleteActions(lm))
                    yield return deleteAction;
                    
                break;
            }

            default:
                throw new ArgumentOutOfRangeException();
        }
    }

    private IEnumerable<GraphEditAction> GetDeleteActions(LinkModel lm)
    {
        /* 9.0
         
        var edge = edgeMappings.GetGraph(lm);
        if (lm.TargetNode is VariableInputsModel vim)
        {
            var inputNode = (VariableInputs)vim.node;
            yield return new GraphEditAction.RemoveInput(inputNode, edge.to.inputName);
            yield return new GraphEditAction.RemoveEdge(edge);
            yield break;
        }

        yield return new GraphEditAction.RemoveEdge(edge);
        */

        return null;
    }

    public void AddNodeInput(VariableInputs variableInputs, string inputName)
    {
        var input = variableInputs.AddInput(inputName);
        var model = (VariableInputsModel) nodeMappings.GetDiagram(variableInputs);
        model.AddVariableInput(input);
    }

    public void RemoveNodeInput(VariableInputs variableInputs, string inputName)
    {
        var input = variableInputs.RemoveInput(inputName);
        var model = (VariableInputsModel) nodeMappings.GetDiagram(variableInputs);
        model.RemoveInput(input);
    }


    public GraphNodeModel GetDiagramNode(string nodeID)
    {
        return nodeMappings.GetDiagram(Graph.nodes[nodeID]);
    }
}